{% extends "base.html.twig" %}
{% block title %}
    Movies
{% endblock %}
{% block  body %}
    <div class="container mt-3">
        {% include 'partials/_header.html.twig' %}
        <div class="film-block">
            {% include 'movies/top_rated_movie.html.twig' %}
            <div class="row">
                <div class="col-md-4">
                    {% include 'movies/list_categories.html.twig' %}
                </div>
                <div class="col-md-8">
                    <div class="films">
                        {% for movie in popularMovies.results %}
                            <div class="film">
                                    <div class="image">
                                        <img src="https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}">
                                    </div>
                                    <div class="content">
                                        <p class="title">{{ movie.original_title }}<span class="rating">****</span> <span class="vote">({{ movie.vote_count }})</span>
                                        </p>
                                        <p class="published-date">{{ movie.release_date|date("d-m-Y") }}<span class="author">-Rami bellili</span></p>
                                        <p class="short-description">
                                            {{ movie.overview }}
                                        </p>
                                        <span id="more">read more </span>
                                    </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="filtered-films">

                    </div>
                </div>
            </div>
            {% include 'partials/pagination.html.twig' %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- Page Scripts -->
    <script>
        const host = '{{ app.request.getSchemeAndHttpHost() }}';
        $(document).ready(function(){
            let categories = [];
            $(".form-check-input").change(function() {
                if(this.checked) {
                    categories.push($(this).val());
                }else{
                    const index = categories.indexOf($(this).val());
                    if (index > -1) {
                        categories.splice(index, 1);
                    }
                }
                getMoviesByCategories(categories);
            });
            function getMoviesByCategories(ids) {
                url = "/movies/filter";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { "ids": JSON.stringify(ids)},
                    success: function (data) {
                        let filteredMovies  = data.results;
                        let  _html = '';
                        for(var k in filteredMovies) {
                            //console.log(k, filteredMovies[k]);
                            let  film = filteredMovies[k];
                            _html+= '<div class="film">'+
                                '<div class="image">'+
                                '<img src="https://image.tmdb.org/t/p/w92/'+film.poster_path+'">'+
                                '</div>'+
                            '<div class="content">'+
                                '<p class="title">'+film.original_title+'<span class="rating">****</span> <span class="vote">('+film.vote_count +')</span>'+
                                '</p>'+
                                '<p class="published-date">'+film.release_date+'<span class="author">-Rami bellili</span></p>'+
                                '<p class="short-description">'+ film.overview+'</p>'+
                                '<span id="more">read more </span>'+
                            '</div>'+
                        '</div>'

                        }
                        $('.films').html(_html);
                    },
                    error: function (e) {
                    }
                });
            }
        });
    </script>
    <!-- End Page Scripts -->
{% endblock %}
