{% extends "base.html.twig" %}
{% block title %}
    Movies
{% endblock %}
{% block  body %}
    <div class="container mt-3">
        {% include 'partials/_header.html.twig' %}
        <div class="film-block">
            {% include 'movies/top_rated_movie.html.twig' %}
            <div class="row">
                <div class="col-md-4">
                    {% include 'movies/list_categories.html.twig' %}
                </div>
                <div class="col-md-8">
                    <div class="films">
                        {% for movie in popularMovies.results %}
                            <div class="film" name="{{ movie.id }}" data-id="{{ movie.id }}">
                                    <div class="image">
                                        <img src="https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}" >
                                    </div>
                                    <div class="content">
                                        <p class="title">
                                            {{ movie.original_title }}
                                            ( {%  include 'partials/rating.html.twig'  with {'rating': movie.vote_count } %} )
                                             <span class="vote">({{ movie.vote_count }} votes)</span>
                                        </p>
                                        <p class="published-date">{{ movie.release_date|date("Y") }}<span class="text-primary">-Disney Pixar</span></p>
                                        <p class="short-description">
                                            {{ movie.overview|slice(1,150) }}
                                            <span class="dots">...</span>
                                            <span class="more-content" style="display: none;">
                                                  {{ movie.overview|slice(151) }}
                                            </span>
                                        </p>
                                        <span class="more" onclick="showMore({{ movie.id }})">Lire le détails</span>
                                    </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% include 'partials/pagination.html.twig' %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- Page Scripts -->
    <script>
        $(document).ready(function(){
            /** ajax filter movies by categories **/
            let categories = [];
            $(".form-check-input").change(function() {
                if(this.checked) {
                    categories.push($(this).val());
                }else{
                    const index = categories.indexOf($(this).val());
                    if (index > -1) {
                        categories.splice(index, 1);
                    }
                }
                getMoviesByCategories(categories);
            });
            function getMoviesByCategories(ids) {
                url = "/movies/filter";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { "ids": JSON.stringify(ids)},
                    success: function (data) {
                        let filteredMovies  = data.results;
                        let  _html = '';
                        for(var k in filteredMovies) {
                            let  film = filteredMovies[k];
                            var releaseDate = new Date(film.release_date);
                            _html+= '<div class="film" data-id="'+film.id +'">'+
                                '<div class="image">'+
                                '<img src="https://image.tmdb.org/t/p/w92/'+film.poster_path+'">'+
                                '</div>'+
                            '<div class="content">'+
                                '<p class="title">'+film.original_title+'<span class="rating">('+film.vote_count+')</span> <span class="vote">('+film.vote_count +' votes)</span>'+
                                '</p>'+
                                '<p class="published-date">'+releaseDate.getFullYear()+'<span class="text-primary">-Disney Pixar</span></p>'+
                                '<p class="short-description">'+ film.overview+'</p>'+
                                '<span class="more" onclick="showMore('+film.id+')">Lire le détails</span>'+
                            '</div>'+
                        '</div>'

                        }
                        $('.films').html(_html);
                    },
                    error: function (e) {
                    }
                });
            }
        });

        /** show more movie description text **/
        function showMore(id) {
            var dots =$("[data-id='" + id + "'] .dots");
            var moreText = $("[data-id='" + id + "'] .more-content");
            var btnText = $("[data-id='" + id + "'] .more");
            if (dots.hasClass('hidden')) {
                dots.removeClass('hidden').addClass('visible');
                btnText.text("Lire le détails");
                moreText.addClass('hidden').removeClass('visible');
            } else {
                dots.removeClass('visible').addClass('hidden');
                btnText.text("Lire moins");
                moreText.addClass('visible').removeClass('hidden');
            }
        }
    </script>
    <!-- End Page Scripts -->
{% endblock %}
