{% extends "base.html.twig" %}
{% block title %}
    Movies
{% endblock %}
{% block  body %}
    <div class="container mt-3">
        {% include 'partials/_header.html.twig' %}
        <div class="film-block">
            {% include 'movies/top_rated_movie.html.twig' %}
            <div class="row">
                <div class="col-md-4">
                    {% include 'movies/list_categories.html.twig' %}
                </div>
                <div class="col-md-8">
                    <div class="films">
                        {% for movie in popularMovies.results %}
                            <div class="film">
                                    <div class="image">
                                        <img src="https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}">
                                    </div>
                                    <div class="content">
                                        <p class="title">{{ movie.original_title }}<span class="rating">****</span> <span class="vote">({{ movie.vote_count }})</span>
                                        </p>
                                        <p class="published-date">{{ movie.release_date|date("d-m-Y") }}<span class="author">-Rami bellili</span></p>
                                        <p class="short-description">
                                            {{ movie.overview }}
                                        </p>
                                        <span id="more">read more </span>
                                    </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item {% if page ==1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('app_movies_index' , {'page' : page - 1}) }}">&laquo;</a>
                    </li>
                    {% for i in 0..pages %}
                        <li class="page-item {% if page == i %}active {% endif %}">
                            <a class="page-link" href="{{ path('app_movies_index' , {'page' : i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item  {% if page == pages %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('app_movies_index' , {'page' : page + 1 }) }}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}